{% extends "_base.html" %}

{% block what %}now{% endblock %}
{% block description %}what am i even up to???{% endblock %}
{% block url %}/now{% endblock %}

{% block content %}
<h1>the now</h1> {# TODO: get listed? #}
<p>here's what i'm up to <a target="_blank" rel="nofollow" href="https://nownownow.com">right now</a>:</p>
<ul>
    <li>finding a job right after graduating college.</li>
    <li>playing around with <a href="/projects#klawiatura">P2P networking in games</a>,
        powered by <a href="/projects#nutpunch">an in-house solution</a>.</li>
    <li>poking at <a href="/projects">my other projects</a> whenever i feel like it.</li>
    <li><a target="_blank" rel="me" href="https://steamcommunity.com/id/nonk123">gaming</a> occasionally.</li>
    <li>probably the most important point: walking my dog.</li>
</ul>
<p>speaking of doggie...</p>
<p><img src="/now/doggie.jpg" alt="German Pinscher dog looking very demure"></p>
{% endblock %}
