{% extends "_base.html" %}

{% block what %}now{% endblock %}
{% block description %}what am i even up to???{% endblock %}
{% block url %}/now{% endblock %}

{% block content %}
<h1>the now</h1> {# TODO: get listed? #}
<p>here's what i'm up to <a target="_blank" rel="nofollow" href="https://nownownow.com">right now</a>:</p>
<ul>
    <li>finding a job.</li>
    <li>perfecting <a target="_blank" href="https://github.com/Schwungus/caulk">caulk</a>, <strong>the</strong> SteamAPI wrapper.</li>
    <li>poking at <a href="/projects">my other projects</a> whenever i feel like it.</li>
    <li><a target="_blank" href="https://steamcommunity.com/id/nonk123">gaming</a> occasionally.</li>
    <li>updating this site every now and then.</li>
    <li>probably the most important point: walking my dog.</li>
</ul>
<p>speaking of doggie...</p>
<img class="center" src="/now/doggie.jpg" alt="German Pinscher dog looking very demure">
{% endblock %}
