$narrow: 700px;

@mixin narrow {
    @media only screen and (max-width: $narrow) {
        @content;
    }
}

* {
    font-family: Helvetica, sans-serif;
    color: white;

    @include narrow {
        font-size: 3vmin;
    }
}

html {
    scroll-snap-type: y mandatory;
    overflow: scroll;
}

body {
    background: black;

    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
    gap: 0;
}

div#static {
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1000;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 1em;
    box-sizing: border-box;

    @include narrow {
        display: none;
    }
}

div.slide {
    scroll-snap-align: start none;

    width: 60vw;

    @include narrow {
        width: 100vw;
        padding: 1em;
    }

    margin: 0 auto;

    height: 100vh;

    padding: 1em;
    box-sizing: border-box;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5em;
}

div#super-container {
    $logo-height: 14em;
    height: calc($logo-height + 60px);

    display: flex;
    flex-flow: column nowrap;

    > div#logo-container {
        height: $logo-height;

        display: flex;
        flex-flow: row nowrap;
        align-items: end;
        gap: 1em;
    }

    > div.stairs {
        position: relative;
        top: -2px;

        flex: 1 1 auto;

        $c1: darkgray;
        $c2: gray;

        background: repeating-linear-gradient($c1, $c1 5px, $c2 15px)
    }
}

img.big-logo {
    height: 100%;
}

img {
    &.fire-pillar, &.devil-fire {
        height: 10em;
    }

    &.fire1 {
        height: 8em;
    }
}

div#title-container {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    > strong {
        width: 100%;
        text-align: center;
    }
}

div.down-hand-container {
    position: absolute;
    bottom: 1em;

    display: flex;
    flex-flow: row nowrap;
    gap: 3em;
}

div#check-out {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

div.projects {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1em;

    > a {
        flex: 0 1;

        > img {
            max-height: 16em;
            width: auto;
        }
    }
}

strong {
    color: red;
    font-size: 2em;
    text-transform: uppercase;
}
