html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    overflow-y: auto;

    font-size: 13pt;
    font-family: 'Consolas', monospace;

    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-areas:
        "head"
        ".   "
        "main"
        ".   "
        "foot";
    grid-template-rows: auto minmax(1em, 1fr) max-content minmax(1em, 1fr) auto;
    grid-template-columns: 100%;

    color: #EEF0F2;

    background:
        repeating-linear-gradient(to right, #111111 0, #111111 1px, transparent 2px, transparent 20px),
        repeating-linear-gradient(to bottom, #111111 0, #111111 1px, transparent 2px, transparent 20px),
        repeating-linear-gradient(to right, #353030 0, #353030 20px, #303530 21px, #303530 40px, #303035 41px, #303035 60px);
    background-size: 60px 20px;

    animation: scroll-bg 3.1s linear infinite;
}

@keyframes scroll-bg {
    0% {
        background-position: 60px 20px;
    }

    100% {
        background-position: 0 0;
    }
}

main {
    grid-area: main;
}

main, #root {
    background: transparent;
}

#root {
    display: flex;
    flex-flow: row wrap;

    max-width: 90ch;

    align-items: stretch;
    align-content: center;
    justify-content: center;

    margin: 0 auto;
    padding: 1ex 1ch;
    gap: 1ex 1ch;
}

header,
footer {
    padding: 0.5em 1ch;
}

header {
    grid-area: head;
    text-align: center;
}

footer {
    grid-area: foot;
    text-align: end;
}

article {
    flex: 56ch;
}

nav {
    flex: 24ch;
}

nav, article, header, footer {
    background: #0C0C0CD0;
}

nav, article {
    border-radius: 0.8em;
    border: 3px solid #0A0A0A;

    padding: 0 1ch;
}

header {
    border-bottom: 3px solid #0A0A0A;
}

footer {
    border-top: 3px solid #0A0A0A;
}

article {
    padding: 1ex 1ch;
    text-align: justify;
}

h1 {
    font-size: 1.2rem;
    margin: 0;
}

h1::before {
    content: "§ ";
}

ul {
    margin: 0;
    margin-left: 2ch;

    padding: 0;

    list-style-type: none;
}

ul>li::before {
    content: "- ";
}

ul.links>li::before {
    content: "-> ";
}

p, ul {
    margin-top: 1rem;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #149914;
}

a, header > a:visited {
    color: #14EE14;
}

a::before {
    content: "[";
}

a::after {
    content: "]";
}

#links a::before, #links a::after {
    content: "";
}

a.kill-link {
    color: #EE1414;
    font-weight: normal;

    cursor: help;
    text-decoration: dotted;
}

strong {
    color: #FFFFFF;
}

main.no-fade-in {
    opacity: 0;
}

.fade-in, main:not(.no-fade-in) {
    animation-name: fade-in;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

@keyframes fade-in {
    0%, 50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
