html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: "Consolas", monospace;
    box-sizing: border-box;
}

* {
    font: inherit;
    box-sizing: inherit;
}

body {
    color: #eef0f2;

    min-height: 100vh;
    overflow-y: auto;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    background: repeating-linear-gradient(
            to right,
            #111111 0,
            #111111 1px,
            transparent 2px,
            transparent 20px
        ),
        repeating-linear-gradient(
            to bottom,
            #111111 0,
            #111111 1px,
            transparent 2px,
            transparent 20px
        ),
        repeating-linear-gradient(
            to right,
            #373030 0,
            #373030 20px,
            #303730 21px,
            #303730 40px,
            #303037 41px,
            #303037 60px
        );
    background-size: 60px 20px;

    animation: scroll-bg 3.1s linear infinite;
}

@keyframes scroll-bg {
    0% {
        background-position: 60px 20px;
    }

    100% {
        background-position: 0 0;
    }
}

main {
    background: transparent;

    display: flex;
    flex-flow: row wrap;

    width: calc(min(100%, 100ch));
    min-height: 400px;

    align-items: stretch;
    justify-content: stretch;

    padding: 1ex 1ch;
    gap: 1ex 1ch;
}

header,
footer {
    width: 100%;
    padding: 0.5em 1ch;
}

header {
    margin-bottom: 1ex;
    text-align: center;
}

footer {
    margin-top: 1ex;
    text-align: end;
}

nav,
article,
header,
footer {
    background: #1a1a1ab0;
}

article {
    flex: 7 1 64ch;
}

nav {
    flex: 3 1 24ch;
    overflow-x: hidden;
}

main > * {
    border-radius: 0.8em;
    border: 3px solid #0a0a0a;
    padding: 0 1ch;
}

header {
    border-bottom: 3px solid #0a0a0a;
}

footer {
    border-top: 3px solid #0a0a0a;
}

article {
    text-align: justify;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
}

h1::before {
    content: "§ ";
}

ul,
ul > li {
    width: 100%;
}

ul {
    padding: 0;
    margin-left: 2ch;

    list-style-type: none;
}

ul > li {
    margin-right: 2ch;
}

ul > li::before {
    content: "- ";
}

h1,
p,
ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    height: max-content;
    width: fit-content;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #149914;
}

a,
header > a:visited {
    color: #14ee14;
}

a::before {
    content: "[";
}

a::after {
    content: "]";
}

strong {
    color: #ffffff;
}
