@use "constants" as *;
@use "sass:list";

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: $green;
    &:visited {
        text-decoration-color: $darkgreen;
    }
}

#me:hover {
    text-decoration-color: $white;
}
