@use "constants" as *;

:root {
    color-scheme: only dark;
}

html,
body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Monaspace Neon";
    src: url("/assets/MonaspaceNeonVar.woff2") format("woff2");
}

body {
    font-size: 14px;
    font-family: "Monaspace Neon", Consolas, monospace;
    font-weight: 450;
    letter-spacing: -1px;
}

* {
    box-sizing: border-box;
}
