@use "constants" as *;

body {
    $fade: rgba(0, 0, 0, 0.5);

    background-color: rgb(0, 0, 0);
    background-image:
        linear-gradient($fade, $fade),
        url("https://vga9x16.ru/png?transparent=true");
    background-size: 288px 288px;
    background-repeat: repeat;
    background-position: 5px 11px;
}

header,
main,
#sidebar,
footer {
    background: $softblack;
}
