@use "constants" as *;

body {
    color: $white;
    background: $softblack;
    image-rendering: pixelated;

    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    padding: 1em 0;

    $hgap: minmax($hgap, 1fr);

    display: grid;
    grid-template-areas:
        "side .    head .    .   "
        "side .    main .    .   "
        "side .    main .    .   "
        "side .    foot .    .   ";
    grid-template-columns: $sidebar-width $hgap $content-width $hgap $sidebar-width;
    grid-template-rows: auto auto 1fr auto;
}

main {
    grid-area: main;
    align-content: start;
    gap: $vgap $hgap;

    & > * {
        flex-grow: 1;
    }
}

#sidebar {
    grid-area: side;
    width: $sidebar-width;
    margin: 0 auto auto auto;
}

header {
    grid-area: head;
}

footer {
    grid-area: foot;
}

#logo {
    display: block;
    aspect-ratio: 1;
    margin: 0 auto;
}

@include mobile {
    body {
        grid-template-areas:
            ".    head .   "
            ".    .    .   "
            ".    main .   "
            ".    .    .   "
            ".    side .   "
            ".    .    .   "
            ".    foot .   ";
        grid-template-columns: 1fr minmax(auto, $content-width) 1fr;
        grid-template-rows: auto $vgap auto $vgap auto $vgap auto;
    }

    #logo {
        max-height: 128px;
    }

    #sidebar {
        width: 100%;

        hr {
            display: none;
        }
    }

    #sidebar {
        gap: $vgap $hgap;
        column-width: $sidebar-width;
        column-fill: balance;
        & > * {
            break-inside: avoid;
        }
    }
}

:where(.vivid) {
    background: $softblack;

    &,
    header,
    footer {
        padding: $vgap $hgap;
    }
}

#header-links {
    flex-grow: 1;
    gap: 1ex 1ch;
}

#me {
    text-decoration: none;
    font-weight: bold;

    &,
    &:visited {
        color: $white;
    }
}

#chattable,
#toggle-chat {
    border: 1px solid $grayish;
}

#chattable {
    width: $chat-width;
    height: $chat-height;
    padding: 0;

    position: absolute;
    right: 0;
    top: 80px;

    visibility: hidden;
}
body.show-chattable #chattable {
    visibility: visible;
}

#toggle-chat {
    cursor: pointer;
    padding: 8px;

    position: fixed;
    right: 8px;
    top: 8px;

    @include mobile {
        display: none;
    }
}

#statuscafe {
    padding: 0.5em;

    &-username {
        margin-bottom: 0.5em;
    }

    &-content {
        margin: 0 1em 0.5em 1em;
    }
}

#webrings > * {
    display: block;
    margin: 0 auto;
}
