@use "constants" as *;

$content-width: calc(min($content-width, 100%) - 2 * $hgap);

:root {
    background: $softblack;
    overflow-y: scroll;
}

body {
    color: $white;
    image-rendering: pixelated;

    width: 100%;
    min-height: 100vh;
    gap: $vgap 0;

    display: flex;
    flex-flow: column nowrap;
}

// the Claude killer snippet.
body > code {
    display: none;
}

header,
main {
    width: $content-width;
    margin: 0 auto;
}

#dummy {
    flex: 1 1 0;
    margin-top: -$vgap;
}

main {
    gap: $vgap $hgap;
    align-content: start;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;

    width: $sidebar-width;
    max-height: 100vh;
    overflow-y: auto;
}

header,
main,
#sidebar,
footer {
    padding: $vgap $hgap;
}

#logo {
    display: block;
    aspect-ratio: 1;
    margin: 0 auto;
}

@include mobile {
    body {
        gap: $vgap $hgap;
    }

    footer {
        margin: 0;
    }

    #logo {
        max-height: 128px;
    }

    #sidebar {
        position: static;
        max-height: none;

        width: $content-width;
        margin: 0 auto;

        hr {
            display: none;
        }
    }

    #sidebar {
        gap: $vgap $hgap;
        column-width: $sidebar-width;
        column-fill: balance;

        & > * {
            break-inside: avoid;
        }
    }
}

:where(header, footer) {
    padding: $vgap 0;
}

#header-links {
    gap: 1ex 1ch;
}

#me {
    text-decoration: none;
    font-weight: bold;

    &,
    &:visited {
        color: $white;
    }
}

#chattable,
#toggle-chat {
    border: 1px solid $grayish;
    background: $softblack;
}

#chattable {
    width: $chat-width;
    height: $chat-height;
    padding: 0;

    position: absolute;
    right: 0;
    top: 80px;

    visibility: hidden;
}

body.show-chattable #chattable {
    visibility: visible;
}

#toggle-chat {
    cursor: pointer;
    padding: 8px;

    position: fixed;
    right: 8px;
    top: 8px;
}

#statuscafe {
    &-username {
        margin-bottom: 0.5em;
    }

    &-content {
        margin: 0 1em 0.5em 1em;
    }
}

#webrings > * {
    display: block;
    margin: 0 auto;
}

#badges {
    gap: 1ex 1ch;
}
