@use "constants" as *;

$content-width: calc(min($content-width, 100%));

:root {
    background: $softblack;
    overflow-y: scroll;
}

body {
    color: $white;
    image-rendering: pixelated;

    min-height: 100vh;
    padding: $vgap $sidebar-width;
    gap: $vgap 0;

    display: flex;
    flex-flow: column nowrap;
}

body > code { // Claude killer snippet
    display: none;
}

header,
main {
    width: $content-width;
    margin: 0 auto;
}

footer {
    margin: 0 #{-$sidebar-width};
    padding: 0 $hgap;
}

main {
    flex-grow: 1;
    align-content: start;
    gap: $vgap $hgap;

    & > * {
        flex-grow: 1;
    }
}

#sidebar {
    position: absolute;
    left: 0;
    top: 0;

    width: $sidebar-width;
    padding: $vgap $hgap;
}

#logo {
    display: block;
    aspect-ratio: 1;
    margin: 0 auto;
}

@include mobile {
    body {
        padding: $vgap $hgap;
        gap: $vgap $hgap;
    }

    footer {
        margin: 0;
        padding: 0;
    }

    #logo {
        max-height: 128px;
    }

    #sidebar {
        position: static;
        width: $content-width;
        padding: 0;
        margin: 0 auto;

        hr {
            display: none;
        }
    }

    #sidebar {
        gap: $vgap $hgap;
        column-width: $sidebar-width;
        column-fill: balance;

        & > * {
            break-inside: avoid;
        }
    }
}

:where(header, footer) {
    padding: $vgap 0;
}

#header-links {
    gap: 1ex 1ch;
}

#me {
    text-decoration: none;
    font-weight: bold;

    &,
    &:visited {
        color: $white;
    }
}

#statuscafe {
    padding: 0.5em;

    &-username {
        margin-bottom: 0.5em;
    }

    &-content {
        margin: 0 1em 0.5em 1em;
    }
}

#webrings > * {
    display: block;
    margin: 0 auto;
}
