@use "constants" as *;

p:has(> img:only-child) {
    margin: 0 auto;
    max-width: 80%;
}
p > img:only-child {
    width: 100%;
    image-rendering: auto;
}

p {
    text-align: justify;
}
p.center {
    text-align: center;
}

div.center {
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h1::before {
    content: "§ ";
}

code {
    background: $hardblack;
}
code.block {
    display: block;
    margin: 0 2ch;
    padding: 1ex 1ch;
    border-radius: 4px;
}

$li-indent: 2ch;
ul {
    padding: 0;
    list-style-type: none;
}
ul.nodash > li {
    margin-left: $li-indent;
}
ul:not(.nodash) > li {
    margin-left: calc(2 * $li-indent);
    text-indent: calc(-1 * $li-indent);

    &::before {
        content: "- ";
    }
}

h1,
h2,
ul,
p {
    margin-block: 0 1rem;
}

// i've no idea why this is required...
h1.blog {
    margin-bottom: 0;
}

a:not(:has(> img)) {
    color: $green;
    text-decoration: none;
    font-weight: bold;
    line-height: 24px;

    &::before {
        content: "[";
    }
    &::after {
        content: "]";
    }

    &[href^="/"] {
        &::before {
            content: "/";
        }
        &::after {
            content: "";
        }
    }

    &:visited {
        color: $darkgreen;
    }
}

strong {
    color: $white;
}

.icon.invert {
    filter: invert(1);
}

hr {
    width: 100%;
    border: none;
    border-top: 1px dashed $white;
    margin-block: 1em 1ex;
}
