@use "prelude" as *;

img {
    max-width: 100%;
}

p img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    image-rendering: auto;
}

p {
    text-align: justify;
}

p.center {
    text-align: center;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
}

h1::before {
    content: "§ ";
}

code {
    font-family: inherit;
    background: $blacker;

    &:not(.block) {
        &::before,
        &::after {
            content: "`";
        }
    }
}
code.block {
    margin-left: 2ch;
}

i::before,
i::after {
    content: "_";
}

$li-indent: 2ch;
ul {
    padding: 0;
    list-style-type: none;
}
ul.nodash > li {
    margin-left: $li-indent;
}
ul:not(.nodash) > li {
    margin-left: calc(2 * $li-indent);
    text-indent: calc(-1 * $li-indent);

    &::before {
        content: "- ";
    }
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1.blog {
    margin-bottom: 0;
}

ul {
    margin-top: 1em;
    margin-bottom: 0;
}

a:not(:has(> img)) {
    color: $green;
    text-decoration: none;
    font-weight: bold;

    &::before {
        content: "❬";
    }
    &::after {
        content: "❭";
    }

    &[href^="/"] {
        &::before {
            content: "/";
        }
        &::after {
            content: "";
        }
    }

    &:visited {
        color: $darkgreen;
    }
}

strong {
    color: $white;
}

.icon.invert {
    filter: invert(1);
}

hr {
    width: 100%;
    border: none;
    border-top: 1px dashed $white;
    margin-top: 1em;
    margin-bottom: 1ex;
}
