@use "constants" as *;

p:has(> img:only-child) {
    margin: 0 auto;
    max-width: 80%;
}
p > img:only-child {
    width: 100%;
    image-rendering: auto;
}

p {
    text-align: justify;
}
p.center {
    text-align: center;
}

div.center {
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h1::before {
    content: "ยง ";
}

code {
    background: $hardblack;
}
code.block {
    display: block;
    margin: 0 2ch;
    padding: 1ex 1ch;
    border-radius: 4px;
}

$li-indent: 2ch;
ul {
    padding: 0;
    list-style-type: none;
}
ul.nodash > li {
    margin-left: $li-indent;
}
ul:not(.nodash) > li {
    margin-left: calc(2 * $li-indent);
    text-indent: calc(-1 * $li-indent);

    &::before {
        content: "- ";
    }
}

h1,
h2,
ul,
p {
    margin-block: 0 1rem;
}

a:not(:has(> img)) {
    &,
    &:visited {
        color: $green;
        text-decoration: none;
    }

    &:hover,
    &:hover:visited {
        color: $white;
        text-decoration: $white underline;
    }

    line-height: 24px;

    &.strong {
        font-size: 1.2em;
        font-weight: bolder;
        line-height: 28px;
    }

    &[href^="/"] {
        &::before {
            content: "/";
        }
    }
}

strong {
    color: $white;
}

.icon.invert {
    filter: invert(1);
}

hr {
    width: 100%;
    border: none;
    border-top: 1px dashed $white;
    margin-block: 1em 1ex;
}
