$gaps: 16px;
$content-width: 700px;
$sidebar-width: 220px;

$chat-width: 300px;
$chat-height: 700px;

$desktop-width: $content-width + $sidebar-width + 3 * $gaps;

$white: #eeeeee;
$black: #1d1d1d;
$blacker: #111111;
$green: #14ee14;
$darkgreen: #1f7f1f;
$shadow: rgba(12, 12, 12, 0.4);

@mixin mobile {
    @media (max-width: $desktop-width) {
        @content;
    }
}

:root {
    color-scheme: only dark;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 16px;
}

* {
    font-family: Consolas, monospace;
    box-sizing: border-box;
}
