$gaps: 16px;
$content-width: 700px;
$sidebar-width: 220px;

$chat-width: 300px;
$chat-height: 700px;

$desktop-width: $content-width + 2 * $sidebar-width + 4 * $gaps;

$white: #fef0f2;
$black: #202020;
$blacker: #141414;
$grey: #323232;
$green: #14ee14;
$darkgreen: #1f7f1f;
$shadow: rgba(12, 12, 12, 0.4);

@mixin mobile {
    @media (max-width: $desktop-width) {
        @content;
    }
}

@function hack($suffix, $host) {
    // Absolute host can be specified to reuse the font cross-origin in `chattable.css`:
    @return url("#{$host}/assets/Hack-#{$suffix}.ttf") format("truetype");
}

@mixin hack($host) {
    @font-face {
        font-family: "Hack";
        font-weight: normal;
        font-style: normal;
        src: hack(Regular, $host);
    }

    @font-face {
        font-family: "Hack";
        font-weight: bold;
        font-style: normal;
        src: hack(Bold, $host);
    }

    @font-face {
        font-family: "Hack";
        font-weight: normal;
        font-style: italic;
        src: hack(Italic, $host);
    }

    @font-face {
        font-family: "Hack";
        font-weight: bold;
        font-style: italic;
        src: hack(BoldItalic, $host);
    }
}

:root {
    color-scheme: only dark;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Hack, Consolas, monospace;
    font-optical-sizing: auto;
}

* {
    font-family: inherit;
    box-sizing: border-box;
}
