@use "assets/_prelude" as *;
@use "sass:list";

a {
    border-bottom: 2px solid transparent;
}

a:hover {
    border-bottom-color: $green;
    &:visited {
        border-bottom-color: $darkgreen;
    }
}
#me:hover {
    border-bottom-color: $white;
}
#badges a:hover {
    border-bottom-color: #ffffff;
}
