$main-width: 620px;
$sidebar-width: 240px;
$WIDTH: $main-width + $sidebar-width + 64px;
$chat-width: 300px;

$white: #eef0f2;
$black: #191919;
$green: #14ee14;
$darkgreen: #1f7f1f;

@mixin narrow {
    @media (max-width: #{$WIDTH + $chat-width * 2}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $WIDTH) {
        @content;
    }
}

@font-face {
    font-family: Hack;
    src: url("https://nonk.dev/assets/Hack-Regular.ttf") format("truetype");
}

:root {
    color-scheme: only dark;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 18px Hack, Consolas, monospace;
}

* {
    box-sizing: border-box;
}

p.center {
    text-align: center;
}
