@use "assets/_prelude" as *;

:root {
    --advanced-layout: true;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

#top_banner {
    display: none;
}

body {
    font-size: 14px;

    color: $white;
    background: $black;

    padding: 8px;
}

#settings,
#emojiTrayToggle {
    filter: invert(1);
}

#main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

#background {
    flex-grow: 1;
    background: transparent;
    padding-top: 20px;
}

#input {
    color: #191919;
    background: #fafafa;
}

.msgWrapper {
    border-top: 1px dashed #fafafa;
    margin-bottom: 1em;
}

.allMessages {
    padding: 0;
    padding-top: 3px;
    width: 100%;
}

.owner.badge {
    display: none;

    .senderInfo:has(&) {
        color: $green;
    }
}

.senderInfo {
    display: block;
    &::before {
        content: "<";
    }
    &::after {
        content: ">";
    }
}

.msgBody {
    display: inline;
    margin-left: 2ch;
}
