@use "prelude" as *;

$font-size: 14px;
$sticker-scale: 3;

:root {
    --advanced-layout: true;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

#top_banner {
    display: none;
}

body,
#emojiTray {
    font-size: $font-size;

    color: $white;
    background: $softblack;

    padding: 8px;
}

.emoji {
    width: $font-size;
    height: $font-size;
}

#settings,
#emojiTrayToggle {
    filter: invert(1);
}

#main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

#background {
    flex-grow: 1;
    background: transparent;
    padding-top: 20px;
}

#input {
    color: $softblack;
    background: $white;
}

.msgWrapper {
    border-top: 1px dashed $white;
    margin-bottom: 1em;
}

.allMessages {
    padding: 0;
    padding-left: 12px;
    padding-top: 3px;
    width: 100%;
}

.sent {
    padding-left: 4px;
    border-left: 8px solid $white;
}

.allMessages.containsOnlyEmojis .emoji {
    aspect-ratio: 1;
    width: calc($font-size * $sticker-scale);
    height: calc($font-size * $sticker-scale);
}

.owner.badge {
    display: none;

    .senderInfo:has(&) {
        color: $green;
    }
}

.senderInfo {
    display: block;

    &::before {
        content: "<";
    }
    &::after {
        content: ">";
    }
}

.msgBody {
    width: fit-content;
    margin-left: 2ch;
}
