@use "assets/_prelude" as *;
@use "assets/_anim";
@use "assets/_md";

$body-pad: 12px;

body {
    color: $white;
    image-rendering: pixelated;

    min-height: 100vh;
    margin: 0 auto;
    padding: $body-pad 0;

    width: calc(min($content-width, 100%));
    gap: 1em 0;
    align-items: end;
    overflow-y: auto;

    justify-content: center;
}

#background {
    filter: brightness(0.6) blur(0.9px);
    background-image: url("https://q7x.ru/vga9x16.png");
    background-size: 288px 288px;
    background-repeat: repeat;

    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1000;
}

#sidebar {
    width: $sidebar-width;
    align-self: start;
}

main {
    width: $content-width;
    align-self: stretch;
}

#grail {
    gap: 16px;
    overflow: visible;
}

#hamburger {
    cursor: pointer;
    aspect-ratio: 1;
    width: 64px;

    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 5px;

    & > * {
        width: 100%;
        height: 3px;
        background: $white;
        border-radius: 1px;
    }
}

#logo {
    display: block;
    aspect-ratio: 1;
    max-width: 100%;
    margin: 0 auto;
}

@include mobile {
    #hamburger {
        display: flex;
    }

    body {
        padding: $body-pad;
    }

    #logo {
        max-height: 128px;
    }

    #grail {
        flex-flow: column nowrap;
        width: 100%;
    }

    main {
        width: 100%;
    }

    #sidebar {
        display: none;
        margin-bottom: 1em;
        align-self: center;
    }
}

header {
    gap: 0 1em;

    & > nav {
        display: flex;
        flex-flow: row wrap;
        align-content: baseline;
        justify-content: center;
        flex-grow: 1;
        gap: 1ex 1ch;
    }
}

#guestbook {
    width: 100%;
    min-height: 800px;
    border: none;
}

.panel {
    background: $black;
    border: 1px solid transparentize($green, 0.2);
    box-shadow: 0 0 1px 1px transparentize($green, 0.3);
    border-radius: 4px;
}

.panel:not(.pad0) {
    padding: 1ex 1ch;
}

header > nav,
footer {
    padding: 1em 1ch;
}

#me {
    text-decoration: none;
    font-weight: bold;

    &,
    &:visited {
        color: $white;
    }
}

#chattable {
    width: $chat-width;
    height: 600px;
    padding: 0;

    position: fixed;
    left: 5px;
    bottom: 5px;

    background: $black;
    border: none;

    @include mobile {
        display: none;
    }
}

#toggle-chat {
    cursor: pointer;

    position: fixed;
    left: 16px;
    top: 8px;

    @include mobile {
        display: none;
    }
}

#statuscafe {
    padding: 0.5em;

    &-username {
        margin-bottom: 0.5em;
    }

    &-content {
        margin: 0 1em 0.5em 1em;
    }
}

#shitpost {
    cursor: pointer;

    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    padding: 5% 0;
    background: transparentize($black, 0.1);
}

.shitpost {
    cursor: pointer;
}
