@use "assets/_prelude" as *;

$vgap: minmax(1em, 1fr);

@font-face {
    font-family: Hack;
    src: url("/assets/Hack-Regular.ttf") format("truetype");
}

body {
    font-size: 17px;
    z-index: 0;

    color: $white;
    background: transparent;

    width: calc(min($WIDTH, 100vw));
    min-height: 100vh;
    margin: 0 auto;

    padding: 12px;
    overflow-y: auto;

    display: grid;
    gap: 0 1ch;
    grid-template-areas:
        "head head"
        ".    .   "
        "side main"
        "side .   "
        ".    .   "
        "foot foot";
    grid-template-rows: auto $vgap auto auto $vgap auto;
    grid-template-columns: $sidebar-width 1fr;
}

#sidebar {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    grid-area: side;
}

#hamburger {
    height: 3em;

    grid-area: ham;
    cursor: pointer;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 3px;

    & > * {
        width: 100%;
        height: 3px;
        background: $white;
        border-radius: 1px;
    }
}

#logo {
    aspect-ratio: 1;
    max-width: 100%;
    margin: 0 auto;
}

@include mobile {
    body {
        width: calc(min($main-width, 100vw));

        grid-template-areas:
            "ham  head"
            ".    .   "
            "side side"
            "main main"
            ".    .   "
            "foot foot";
        grid-template-rows: auto $vgap auto auto $vgap auto;
        grid-template-columns: 3ch 1fr;
    }

    #logo {
        max-height: 128px;
    }

    #sidebar {
        display: none;
        margin-bottom: 1em;

        flex-flow: row nowrap;
        gap: 1em 1ch;
    }
}

#bg-backside,
#bg-ascii {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#bg-backside {
    background: #000000;
    z-index: -1001;
}

#bg-ascii {
    background-image: url("https://q7x.ru/vga9x16.png");
    background-size: 288px 288px;
    background-repeat: repeat;
    image-rendering: pixelated;
    opacity: 0.4;
    z-index: -1000;
}

main {
    grid-area: main;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    gap: 1em 1ch;
}

article,
main > section {
    flex-grow: 1;
}

section {
    align-content: start;
}

.full-width {
    width: 100%;
}

article,
section,
header,
footer {
    padding: 1ex 1ch;
}

header {
    text-align: center;
    grid-area: head;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    grid-area: foot;
}

main > *,
#sidebar > *,
header,
footer,
#hamburger {
    background: $black;
    box-shadow: 0 0 3px 3px $darkgreen;
    border: none;
}

p {
    margin: 0;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
}

h1::before {
    content: "§ ";
}

code {
    font-family: inherit;
    color: $green;

    &::before,
    &::after {
        content: "`";
    }
}

i::before,
i::after {
    content: "_";
}

ul {
    padding: 0;
    list-style-type: none;
}

ul > li {
    margin: 0 2ch;
}

ul > li::before {
    content: "- ";
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1.blog {
    margin-bottom: 0;
}

ul {
    margin-top: 1em;
    margin-bottom: 0;
}

a:not(#me) {
    color: $green;
    text-decoration: none;
    font-weight: bold;

    &::before {
        content: "[";
    }

    &::after {
        content: "]";
    }

    &:visited {
        color: $darkgreen;
    }
}

#me {
    text-decoration: none;
    font-weight: bold;

    &,
    &:visited {
        color: $white;
    }
}

strong {
    color: #ffffff;
}

#chattable {
    width: $chat-width;
    height: 600px;

    position: fixed;
    left: 5px;
    bottom: 5px;

    border: none;
    box-shadow: 0 0 3px 3px $darkgreen;
    background: #191919;

    @include narrow {
        display: none;
    }
}

#statuscafe {
    padding: 0.5em;

    &-username {
        margin-bottom: 0.5em;
    }

    &-content {
        margin: 0 1em 0.5em 1em;
    }
}
