{% extends "_base.html" %}

{% block what %}about me{% endblock %}
{% block description %}gtx560 in 2025??{% endblock %}
{% block url %}/about{% endblock %}

{% block content %}
<h1>about me</h1>
<p>there is not much else to say besides what had been said <a href="/">back home</a>.</p>
<p>here are my hardware specs btw:</p>
<ul>
    <li>Intel Core i9 10900KF on a $5 motherboard.</li>
    <li>used NVIDIA GTX560 from a scrapyard computer.</li>
    <li>single-channel 16GB RAM because the other slot is blocked by my CPU cooler.</li>
    <li>chinese 520GB SSD with 5 years warranty that broke down in less than a year of use prior. at least you get the 5 years warranty back on each replacement.</li>
</ul>
<p><s>rocking good ol' Windows 10 since the dawn of time. used to use Arch Linux on older hardware, but had to switch</s> due to academic software (see below) not working properly (at all).</p>
<p>(half the last paragraph is obsolete: back to Arch as of 2025-07-09)</p>
<p>"academic software" includes: Microsoft Office, Weendose-only IDEs (Dev-C++...), misc. crapware from 2005 -- all required to pass mandatory subjects.</p>
<p>while you're still here, make sure to take a look at my dog:</p>
<img class="center" src="/about/dog.png" alt="German Pinscher dog in a firefighter's suit">
{% endblock %}
