{% extends "_base.html" %}

{% block what %}about me{% endblock %}
{% block description %}gtx560 in 2025??{% endblock %}
{% block url %}/about{% endblock %}

{% block content %}
<h1>about me</h1>
<p>there is not much else to say what hadn't been said <a href="/">back home</a>.</p>
<p>here are my hardware specs btw:</p>
<ul>
    <li>Intel Core i9 10900KF on a $5 motherboard.</li>
    <li>an RTX3050 i got specifically to play NTE.</li>
    <li>2x8GB DDR4 RAM.</li>
    <li>chinese 520GB SSD with 5 years warranty that broke down in less than a year of use prior. at least you get the 5 years warranty back on each replacement.</li>
</ul>
<p>rocking good ol' Windows 10 since the dawn of time. considering switching to Arch Linux for the 300th time after 299 back-and-forths.</p>
<p>while you're still here, make sure to take a look at my dog:</p>
<p><img src="/about/dog.png" alt="German Pinscher dog in a firefighter's suit"></p>
{% endblock %}
