{% extends "_base.html" %}

{% block what %}wtf??{% endblock %}
{% block description %}i don't know how to describe this.{% endblock %}
{% block url %}/shitposts/wtf{% endblock %}

{% block head %}
<script src="/assets/ruffle/ruffle.js"></script>
{% endblock %}

{% block content %}
<object>
    <embed src="/shitposts/wtf/whoayou.swf" width="800" height="600" />
</object>
<p>Courtesy of <a href="https://proxy.opiums.eu">opiums.eu</a>.</p>
{% endblock %}
