$background-primary: #1E1E28;
$background-secondary: #3C3C46;

$text-color: #F2F2F2;
$accent-color: #2ECC40;

$border-color: #111111;

* {
    font-family: Helvetica;
}

body, div#root {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
}

div#root {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.background {
    position: fixed;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    animation-name: background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    background: $background-primary;
}

@keyframes background {
    from {
        background: $background-primary;
    }
    to {
        background: $background-secondary;
    }
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 20%;
    height: 100vh;

    overflow: hidden;

    > div {
	    width: 100%;
	    padding: 0 1em;
        box-sizing: border-box;
    }
}

div#container {
    display: flex;
    flex-direction: column;

    width: 60%;
    height: 100vh;
    margin-bottom: 1em;

    > div#tabs {
        display: flex;
        gap: 3ex;
        justify-content: center;

        box-sizing: border-box;

        margin-top: 1em;

        > a {
            color: $text-color;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.4em;

            &.selected {
                animation: select 0.6s forwards;
            }
        }
    }

    > main {
        overflow-y: auto;
    }

    @keyframes select {
        from {
            color: $text-color;
        }
        to {
            color: $accent-color;
        }
    }
}

img#logo {
    position: relative;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 1em;
}

h1, h2, p, span {
    color: $text-color;
    text-decoration-color: $text-color;
}

a {
    color: $accent-color;
    text-decoration-color: $accent-color;
}

a.link {
    text-decoration: none;

    > span {
        color: $text-color;
        text-decoration: underline;
        text-decoration-color: $text-color;
        vertical-align: middle;
    }
}

i.icon {
    color: $text-color;
    font-size: 1.8em;
}

div#links {
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 1ex;
}

div#projects {
    $gap: 18px;

    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;

    padding: $gap;
    box-sizing: border-box;
}

article.project {
    border: 1px solid $border-color;
    border-radius: 20px;

    width: 420px;

    background: linear-gradient(15deg, $background-secondary, $background-primary);

	padding: 1em;
    box-sizing: border-box;

    > a {
        text-decoration: none;
    }

    div.description {
        display: block;
        text-align: center;

        > p {
            display: block;
            width: 80%;
            text-align: center;
            margin: 0 auto;
        }
    }

    div.thumbnail {
        display: block;

        width: 100%;
        height: 300px;

        > img {
            display: block;

            margin: 0 auto;

            padding: 16px;
            box-sizing: border-box;

            width: 100%;
            height: 100%;

            object-fit: contain;
        }
    }
}

p {
    margin-top: 0;
    margin-bottom: 0.5em;
}
