$background-primary: #1E1E28;
$background-secondary: #3C3C46;

$text-color: #F2F2F2;
$accent-color: #2ECC40;

$border-color: #111111;

* {
    font-family: Helvetica;
}

body,
div#root {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
}

div#root {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div#background {
    position: fixed;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    background-image: radial-gradient($background-secondary, transparent 4px);
    background-color: $background-primary;
    background-position: 0 0;
    background-size: 4px 4px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 20%;
    height: 100vh;

    >div {
        width: 100%;
        padding: 0 1em;
        box-sizing: border-box;
    }
}

div#container {
    display: flex;
    flex-direction: column;

    width: 60%;
    height: 100vh;
    margin-bottom: 1em;

    >div#tabs {
        display: flex;

        gap: 3ex;
        justify-content: center;

        margin: 1em 0;

        >a {
            color: $text-color;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.4em;

            &.selected {
                animation: select 0.6s forwards;
            }
        }
    }

    >main {
        overflow-y: auto;
    }

    @keyframes select {
        from {
            color: $text-color;
        }

        to {
            color: $accent-color;
        }
    }
}

img#logo {
    position: relative;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 1em;
}

h1,
h2,
p,
span {
    color: $text-color;
    text-decoration-color: $text-color;
}

a {
    color: $accent-color;
    text-decoration-color: $accent-color;
}

a.link {
    text-decoration: none;

    >span {
        color: $text-color;
        text-decoration: underline;
        text-decoration-color: $text-color;
        vertical-align: middle;
    }
}

i.icon {
    color: $text-color;
    font-size: 1.8em;
}

div#bio {
    border-radius: 0 0 0 5px;
    border-left: 1px solid $text-color;
    border-bottom: 1px solid $text-color;
}

div#links {
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 1ex;
}

div#projects {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
    gap: 2em;

    margin-bottom: 1em;

    justify-content: center;
}

article.project {
    $roundness: 18px;

    border: 1px solid $border-color;
    border-radius: $roundness;

    width: 420px;

    padding: 1em;
    box-sizing: border-box;

    background: linear-gradient(to bottom, $accent-color, $accent-color $roundness, $background-secondary $roundness, $background-primary);

    >a {
        background: transparent;
        text-decoration: none;
    }

    div.description {
        display: block;
        text-align: center;

        >p {
            display: block;
            width: 80%;
            text-align: center;
            margin: 0 auto;
        }
    }

    div.thumbnail {
        display: block;

        width: 100%;
        height: 300px;

        >img {
            display: block;

            margin: 0 auto;

            padding: 16px;
            box-sizing: border-box;

            width: 100%;
            height: 100%;

            object-fit: contain;
        }
    }
}

p {
    margin-top: 0;
    margin-bottom: 0.5em;
}
