{% extends "_base.html" %}

{% block what %}page not found{% endblock %}
{% block description %}not found???{% endblock %}
{% block url %}/404.html{% endblock %}

{% block content %}
<h1>404 - page not found</h1>
<p>the page you requested doesn't exist.</p>
<p><a href="/">go back home?</a></p>
{% endblock %}
