{% set site_name = "nonk's website" %}

{% macro stylesheet(path) %}
<link rel="preload" href="{{ path }}" as="style">
<link rel="stylesheet" href="{{ path }}">
{% endmacro %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="sanity">
    <meta http-equiv="Content-Language" content="en">
    <meta name="robots" content="{% block robots -%}index, follow{%- endblock %}">

    <title>{% block what -%}{%- endblock %} | {{ site_name }}</title>
    <meta name="description" content="{% block description -%}{%- endblock %}">
    <link rel="canonical" href="https://nonk.dev{% block url -%}{%- endblock %}">

    <meta property="og:title" content="{{ self.what() }}">
    <meta property="og:description" content="{{ self.description() }}">
    <meta property="og:image" content="https://nonk.dev/assets/logo.webp">
    <meta property="og:url" content="https://nonk.dev{{ self.url() }}">
    <meta property="og:site_name" content="{{ site_name }}">
    <meta property="og:type" content="{% block og_type -%}profile{%- endblock %}">

    {# NOTE: must update this link whenever it changes in the CSS code also. #}
    <link rel="preload" as="image" href="https://vga9x16.ru/png?transparent=true" crossorigin>
    <link rel="icon" type="image/png" href="/assets/favicon.png">

    <link rel="preload" href="/assets/chattable.css" as="style"> {# used way below #}
    {{ stylesheet("/assets/style.css") }}

    {% block head %}{% endblock %}

    {% if __prod %}
    <script async src="https://umami.schwung.us/script.js"
        data-website-id="4d6f1497-24de-4a6e-9991-9931303cfa2c"></script>
    {% endif %}

    <script src="https://kit.fontawesome.com/6ad2356fdb.js" crossorigin="anonymous"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function updateLocalTime() {
                const date = new Date(new Date().toLocaleString("en-US", { timeZone: "Europe/Moscow" }));
                const fmt = date.toLocaleTimeString([], { hour: "2-digit", minute: "2-digit", second: "2-digit" });
                document.getElementById("localtime-value").textContent = fmt;
            }
            updateLocalTime();
            setInterval(updateLocalTime, 1000);
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch("https://status.cafe/users/nonk/status.json")
                .then(r => r.json())
                .then(response => {
                    const status = document.getElementById("statuscafe-content");
                    if (!response.content.length) {
                        status.textContent = "No status yet.";
                        return;
                    }

                    const username = document.getElementById("statuscafe-username");
                    username.appendChild(document.createTextNode(
                        " " + response.face + " " + response.timeAgo
                    ));
                    status.innerHTML = response.content;
                });
        });
    </script>

    {# <script src="https://iframe.chat/scripts/main.min.js"></script> #}
</head>

<body>
    <script>const toggle = document.body.classList.toggle.bind(document.body.classList);</script>

    <header>
        <nav id="header-links" class="w100 row wrap al-start">
            {% for link in nav %}
            <a href="{{ link.href }}"
               {% if link.rel %}rel="{{ link.rel }}"{% endif %}
               {% if link.hover %}title="{{ link.hover }}"{% endif %}
               {% if link.href == self.url() %}class="strong"{% endif %}
            >{{ link.title }}</a>
            {% endfor %}
        </nav>
    </header>

    <main class="row wrap">
        <section id="content" class="w100">
            {% block content %}{% endblock %}
        </section>
        <section id="statuscafe">
            <div id="statuscafe-username">
                <a target="_blank" rel="me" href="https://status.cafe/users/nonk">nonk</a>
            </div>
            <div id="statuscafe-content">Loading status...</div>
        </section>
        <section id="localtime" class="row al-center">
            <div class="center">
                local time: <b id="localtime-value"></b><br>
                timezone: <b>Europe/Moscow</b> (GMT+3)
            </div>
        </section>
    </main>

    <nav id="sidebar">
        {% include "_socials.html" %}
    </nav>

    <footer class="row sp-between">
        <span>last updated: <strong>{{ last_updated }}</strong></span>
        <span>powered by <a target="_blank" href="https://github.com/nonk123/sanity">sanity</a>
              | <a target="_blank" href="https://github.com/nonk123/nonk.dev">source code</a></span>
    </footer>

    <button id="toggle-chat" aria-hidden="true" onclick="toggle('show-chattable')">
        <img src="/assets/chatto.png" alt="">
        {# <iframe src="https://iframe.chat/embed?chat=nonkdotdev" id="chattable" frameborder="none"></iframe> #}
        <div id="chattable">sorry, disabled for now...</div>
    </button>

    <script>
        {# chattable.initialize({
            stylesheet: "/assets/chattable.css",
        }); #}
    </script>
</body>

</html>
