<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Language" content="en" />

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <link rel="canonical" href="https://nonk.dev{% block url %}{% endblock %}" />

    <meta property="og:title" content="{{ self.title() }}" />
    <meta property="og:description" content="{{ self.description() }}" />
    <meta property="og:image" content="https://nonk.dev/assets/logo.avif" />
    <meta property="og:url" content="https://nonk.dev{{ self.url() }}" />
    <meta property="og:site_name" content="nonk's website" />
    <meta property="og:type" content="{% block og_type %}{% endblock %}" />

    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/status-cafe.css" />

    {% if __prod %}
    <script async src="https://umami.schwung.us/script.js"
        data-website-id="4d6f1497-24de-4a6e-9991-9931303cfa2c"></script>
    {% endif %}

    <script src="https://iframe.chat/scripts/main.min.js"></script>
    <script src="/assets/status-cafe.js"></script>
</head>

<body>
    <div id="bg-backside"></div>
    <div id="bg-ascii"></div>

    <header>
        <a href="/" rel="author">about me</a>
        <a href="/projects">projects</a>
        <a href="/blog" title="under construction!">blog</a>
    </header>

    <main>
        {% block content %}{% endblock %}
        <section id="statuscafe">
            <div id="statuscafe-username"></div>
            <div id="statuscafe-content"></div>
        </section>
    </main>

    <footer>
        <span>last updated: <strong>{{ last_updated }}</strong></span>
        <a href="https://github.com/nonk123/nonk.dev">source code</a>
    </footer>

    <iframe src="https://iframe.chat/embed?chat=nonkdotdev" id="chattable" frameborder="none"></iframe>

    <script>
        chattable.initialize({
            stylesheet: "/assets/chattable.css",
        });
    </script>
</body>

</html>
