<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="sanity">
    <meta http-equiv="Content-Language" content="en">
    <meta name="robots" content="{% block robots %}index, follow{% endblock %}">

    <title>{% block what %}{% endblock %} | nonk's website</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <link rel="canonical" href="https://nonk.dev{% block url %}{% endblock %}" />

    <meta property="og:title" content="{{ self.what() }}" />
    <meta property="og:description" content="{{ self.description() }}" />
    <meta property="og:image" content="https://nonk.dev/assets/logo.webp" />
    <meta property="og:url" content="https://nonk.dev{{ self.url() }}" />
    <meta property="og:site_name" content="nonk's website" />
    <meta property="og:type" content="{% block og_type %}profile{% endblock %}" />

    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/assets/style.css" />

    {% block head %}{% endblock %}

    {% if __prod %}
    <script async src="https://umami.schwung.us/script.js"
        data-website-id="4d6f1497-24de-4a6e-9991-9931303cfa2c"></script>
    {% endif %}

    <script src="https://kit.fontawesome.com/6ad2356fdb.js" crossorigin="anonymous"></script>

    <script>
        function toggleHam() {
            document.body.classList.toggle("show-sidebar");
        }
        function toggleChat() {
            document.body.classList.toggle("show-chattable");
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function updateLocalTime() {
                const date = new Date(new Date().toLocaleString("en-US", { timeZone: "Europe/Moscow" }));
                const fmt = date.toLocaleTimeString([], { hour: "2-digit", minute: "2-digit", second: "2-digit" });
                document.getElementById("localtime-value").textContent = fmt;
            }
            updateLocalTime();
            setInterval(updateLocalTime, 1000);
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch("https://status.cafe/users/nonk/status.json")
                .then(r => r.json())
                .then(inner);
            function inner(response) {
                const status = document.getElementById("statuscafe-content");

                if (!response.content.length) {
                    status.textContent = "No status yet.";
                    return;
                }

                const username = document.getElementById("statuscafe-username");
                username.appendChild(document.createTextNode(
                    " " + response.face + " " + response.timeAgo
                ));
                status.innerHTML = response.content;
            }
        });
    </script>

    <script src="https://iframe.chat/scripts/main.min.js"></script>
</head>

<body class="col">
    <div id="background"></div><div id="background-ascii"></div>

    <header id="header" class="panel pad0 w100 row al-start">
        <nav id="header-links" class="w100 row wrap al-start">
            <a href="/" rel="me">home</a>
            <a href="/about" rel="me">about me</a>
            <a href="/now" rel="me">now</a>
            <a href="/projects">projects</a>
            <a href="/blog" title="under construction!">blog</a>
            <a href="/guestbook" title="please sign!">guestbook</a>
            <a href="/shitposts" title="very shitty...">shitposts</a>
        </nav>
        <button id="hamburger" onclick="toggleHam()">
            {% for _ in range(0, 4) %}<div></div>{% endfor %}
        </button>
    </header>

    <div id="grail" class="row al-start">
        <div id="content" class="row wrap">
            <main class="panel w100">
                {% block content %}{% endblock %}
            </main>
            <section id="statuscafe" class="panel">
                <div id="statuscafe-username">
                    <a rel="me" target="_blank" href="https://status.cafe/users/nonk">nonk</a>
                </div>
                <div id="statuscafe-content">Loading status...</div>
            </section>
            <section id="localtime" class="panel">
                <p class="center">my local time: <code id="localtime-value"></code> (GMT+3)</p>
            </section>
        </div>
        <aside id="sidebar" class="panel">
            <div class="w100">
                <a rel="nofollow" target="_blank" title="click to see the LORE"
                   href="https://wiki.mfgg.net/index.php?title=Waligie#Waligie_Pocket">
                    <img id="logo" src="/assets/logo.webp" alt="Mugshot of a middle-aged plumber">
                </a>
                <p class="center" style="margin-top: 1ex; margin-bottom: 0;">
                    i'm <a rel="me" target="_blank" id="me" href="https://github.com/nonk123">@nonk123</a>
                </p>
            </div>
            <hr>
            {% include "_socials.html" %}
        </aside>
    </div>

    <footer id="footer" class="panel pad0 w100 row sp-between">
        <span>last updated: <strong>{{ last_updated }}</strong></span>
        <a target="_blank" href="https://github.com/nonk123/nonk.dev">source code</a>
    </footer>

    <button id="toggle-chat" class="panel" onclick="toggleChat()">
        <img src="/assets/chatto.png">
        <iframe src="https://iframe.chat/embed?chat=nonkdotdev" id="chattable" class="panel" frameborder="none"></iframe>
    </button>
    <script>
        chattable.initialize({
            stylesheet: "/assets/chattable.css",
        });
    </script>
</body>

</html>
