$vgap: 16px;
$hgap: 18px;

$content-width: 700px;
$sidebar-width: 220px;

$desktop-width: $content-width + 2 * $sidebar-width + 3 * $hgap;

$white: #f7f7f7;
$hardblack: #080808;
$softblack: #141414;
$green: #12b012;
$darkgreen: #1f7f1f;
$grayish: #393939;

$panel-border-radius: 5px;

@mixin mobile {
    @media (max-width: $desktop-width) {
        @content;
    }
}
