{% extends "base.html.j2" %}

{% block title %}nonk's XXX{% endblock %}
{% block description %}foo{% endblock %}
{% block url %}/{% endblock %}
{% block og_type %}profile{% endblock %}

{% block content %}
{% endblock %}
