{% set ICON_SIZE = 16 %}

{% macro ass(path, invert = True) %}
<img aria-hidden="true" height="{{ ICON_SIZE }}" width="{{ ICON_SIZE }}" src="{{ '/assets/' ~ path }}"
     class="icon{{ ' invert' if invert else '' }}">
{% endmacro %}

{% macro fa(name, group, invert = True) %}
<i aria-hidden="true" height="{{ ICON_SIZE }}" width="{{ ICON_SIZE }}"
   class="fa-{{ group if group else 'solid' }} fa-{{name}}{{ ' invert' if invert else '' }}"></i>
{% endmacro %}
