<map name="noaimini14b">
    <area href="https://baccyflap.com/noai" shape="rect" coords="42,0,94,60" target="_blank" alt="no ai webring" title="no ai webring">
    <area href="https://baccyflap.com/noai/?prv&s=llm" target="_top" shape="rect" coords="2,26,38,58" alt="previous" title="previous">
    <area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="118,14,132,32" alt="random" title="random">
    <area href="https://baccyflap.com/noai/?nxt&s=llm" target="_top" shape="rect" coords="136,2,172,34" alt="next" title="next">
</map>
<img style="width:176px;image-rendering:pixelated" usemap="#noaimini14b" src="https://baccyflap.com/noai/miniwidget14.gif" alt="a bluegreen rectangle showing the words the NO AI webring, with NO AI being written by a fountain pen, all in the style of 16 bit Windows 95 icons. to either side are two equally Windows-95-style cursors pointing left and right, softly bouncing up and down. in between it all is a small black question mark">
