$vgap: 16px;
$hgap: 18px;

$content-width: 800px;
$sidebar-width: 220px;

$chat-width: 300px;
$chat-height: 700px;

$desktop-width: $content-width + 2 * $sidebar-width + 2 * $hgap;

$white: #f7f7f7;
$hardblack: #080808;
$softblack: #141414;
$green: #12b012;
$darkgreen: #1f7f1f;
$grayish: #393939;

$panel-border-radius: 5px;

@mixin mobile {
    @media (max-width: $desktop-width) {
        @content;
    }
}

:root {
    color-scheme: only dark;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13pt;
    line-height: 1.1em;
}

@font-face {
    font-family: Inconsolata;
    src: url("/assets/Inconsolata.ttf") format("truetype");
}

* {
    font-family: Inconsolata, Consolas, monospace;
    box-sizing: border-box;
}
