{% import "_lib.html" as lib %}

{% macro link(icon, title, href, blank) %}
<li>
    {{ icon }}
    <a rel="me" href="{{ href }}" {% if blank -%} target="_blank" {%- endif %}>
        {{- title -}}
    </a>
</li>
{% endmacro %}

{% macro si_link(icon, title, href, blank = True, invert = True) %}
{{ link(lib.si_icon(icon if icon else "html5", invert), title, href, blank) }}
{% endmacro %}

{% macro ass_link(path, title, href, blank = True, invert = True) %}
{% if path %}
{{ link(lib.ass_icon(path, invert), title, href, blank) }}
{% else %}
{{ si_link(None, title, href, blank, invert) }}
{% endif %}
{% endmacro %}

<p class="dotdotdot">socials:</p>
<ul class="nodash">
    {{ si_link("gmail", "email", "mailto:me@nonk.dev", blank=False) }}
    {{ si_link("github", "github", "https://github.com/nonk123") }}
    {{ si_link("bluesky", "bluesky", "https://bsky.app/profile/nonk.dev") }}
    {{ si_link(None, "status.cafe", "https://status.cafe/users/nonk") }}
    {{ si_link("itchdotio", "itch.io", "https://nonk123.itch.io") }}
</ul>
<p class="dotdotdot">friends:</p>
<ul class="nodash">
    {{ ass_link("cantsleep.cc.ico", "can't sleep", "https://cantsleep.cc")}}
    {{ ass_link(None, "vile beggar", "https://vilebeggar.github.io")}}
</ul>
<p class="dotdotdot">collectives:</p>
<ul class="nodash">
    {{ ass_link("schwung.us.png", "schwungus", "https://schwung.us", invert=False)}}
</ul>
<p class="dotdotdot">badges:</p>
<p id="badges" class="row wrap sp-evenly">
    <a rel="nofollow" target="_blank" href="https://notbyai.fyi">
        <img src="/assets/human.svg">
    </a>
</p>
