<section>
    <p>Socials:</p>
    <ul class="links">
        <li><a href="mailto:me@nonk.dev" rel="me">Email</a></li>
        <li><a href="https://github.com/nonk123" rel="me">GitHub</a></li>
        <li>
            <a href="https://discord.com/users/268677450144153611">Discord</a>
        </li>
    </ul>
</section>
<section>
    <p>Friends:</p>
    <ul class="links">
        <li><a href="https://cantsleep.cc">Can't Sleep</a></li>
        <li><a href="https://vilebeggar.github.io">Vile Beggar</a></li>
    </ul>
</section>
<section>
    <p>Collectives:</p>
    <ul class="links">
        <li><a href="https://schwung.us">Schwungus</a></li>
    </ul>
</section>
