<p>socials:</p>
<ul class="links">
    <li><a rel="me" href="mailto:me@nonk.dev">email</a></li>
    <li><a rel="me" target="_blank" href="https://github.com/nonk123">github</a></li>
    <li><a rel="me" target="_blank" href="https://bsky.app/profile/nonk.dev">bluesky</a></li>
    <li><a rel="me" target="_blank" href="https://status.cafe/users/nonk">status.cafe</a></li>
</ul>
<p>friends:</p>
<ul class="links">
    <li><a target="_blank" href="https://cantsleep.cc">can't sleep</a></li>
    <li><a target="_blank" href="https://vilebeggar.github.io">vile beggar</a></li>
</ul>
<p>collectives:</p>
<ul class="links">
    <li><a target="_blank" href="https://schwung.us">schwungus</a></li>
</ul>
<p>badges:</p>
<p class="row wrap sp-evenly">
    <a rel="nofollow" target="_blank" href="https://notbyai.fyi">
        <img src="/assets/human.svg">
    </a>
</p>
