{% extends "_base.html" %}

{% block what %}welcome!{% endblock %}
{% block description %}manifesting your computer dreams.{% endblock %}
{% block url %}/{% endblock %}

{% block content %}
<h1>nonk is here to help!</h1>
<p>thanks for checking me out! take a look at <a href="/projects">my projects</a> while you're here!</p>
<p>my interests in no particular order:</p>
<ul>
    <li><a href="/projects#nutpunch">low-level programming</a></li>
    <li>amusing web experiences</li>
    <li><a href="/projects#klawiatura">game development</a> with
        <a rel="nofollow" target="_blank" href="https://github.com/raysan5/raylib" title="Check it out!!!">raylib</a>
        and <a rel="nofollow" target="_blank" href="https://github.com/libsdl-org/SDL" title="Check it out!!!">SDL3</a>
    </li>
    <li>free software</li>
    <li><a target="_blank" href="https://github.com/nonk123/dotfiles">everything GNU/Linux</a></li>
</ul>
<p>found me useful? contact me!</p>
<p><a rel="me" href="https://nonk.neocities.org">neocities stub here</a>.</p>
{% endblock %}
