{% extends "_base.html" %}

{% set DESCRIPTION="a tinkerer, a sourcerer, and a self-hosting enthusiast" %}

{% block title %}homepage{% endblock %}
{% block description %}{{ DESCRIPTION }}{% endblock %}
{% block url %}/{% endblock %}
{% block og_type %}profile{% endblock %}

{% block content %}
<section class="full-width">
    <h1>nonk is here to help!</h1>
    <p>{{ DESCRIPTION }}</p>
</section>
<section class="full-width">
    <p>check out <a href="/projects">my projects</a> too!</p>
</section>
{% include "_socials.html" %}
<section>
    <p>my interests in no particular order:</p>
    <ul>
        <li>low-level programming</li>
        <li>amusing web experiences</li>
        <li>game development. mostly with
            <a href="https://github.com/raysan5/raylib" title="Check it out!!!">raylib</a>
        </li>
        <li>free software</li>
        <li>everything GNU/Linux</li>
    </ul>
</section>
<section>
    <p>found me useful? contact me!</p>
</section>
{% endblock %}
