{% extends "_base.html" %}

{% block what %}welcome!{% endblock %}
{% block description %}nonk gets it done.{% endblock %}
{% block url %}/{% endblock %}

{% block content %}
<h1>nonk is here to help!</h1>
<p>thanks for checking me out! take a look at <a href="/projects">my projects</a> while you're here!</p>
<p>my interests in no particular order:</p>
<ul>
    <li><a href="/projects#nutpunch">low-level programming</a></li>
    <li><a href="/projects#klawiatura">amusing web experiences</a></li>
    <li><a target="_blank" href="{{ links.github }}/dotfiles">everything GNU/Linux</a></li>
</ul>
<p>found me useful? contact me!</p>
<p>extra points for coming from <a href="https://nonk.neocities.org">my neocities stub page</a>!</p>
{% endblock %}
