{% extends "_base.html" %}

{% block what %}guestbook{% endblock %}
{% block description %}please sign my guestbook! i'd really appreciate it.{% endblock %}
{% block url %}/guestbook{% endblock %}

{% block head %}
{{ stylesheet("/guestbook/style.css") }}
{% endblock %}

{% block content %}
<iframe id="guestbook" src="https://nonk.atabook.org"></iframe>
{% endblock %}
