{% extends "_base.html" %}

{% block what %}guestbook{% endblock %}
{% block description %}please sign my guestbook! it's really appreciated.{% endblock %}
{% block url %}/guestbook{% endblock %}

{% block content %}
<iframe id="guestbook" src="https://nonk.atabook.org" frameborder="none"></iframe>
{% endblock %}
