html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 20px "Consolas", monospace;
}

* {
    box-sizing: border-box;
}

body {
    color: #eef0f2;

    min-height: 100vh;
    overflow-y: auto;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    background: transparent;
}

.bg-layer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#bg-back {
    background: #000000;
    z-index: -1000;
}

#bg-ascii {
    background-image: url("https://q7x.ru/vga9x16.png");
    background-size: 288px 288px;
    background-repeat: repeat;
    background-position: center;
    transform: scale(1.34);
    filter: blur(1px);
    z-index: -900;
}

#bg-overlay {
    background: rgba(22, 22, 22, 0.7);
    z-index: -800;
}

header,
footer,
main {
    width: calc(min(100%, 88ch));
}

main {
    background: transparent;

    display: flex;
    flex-flow: row wrap;

    min-height: 400px;

    align-items: stretch;
    justify-content: stretch;

    padding: 1ex 1ch;
    gap: 1em;
}

header,
footer {
    padding: 0.5em 1ch;
}

header {
    margin-top: 1em;
    margin-bottom: 1ex;
    text-align: center;
}

footer {
    margin-top: 1ex;
    margin-bottom: 1em;
    text-align: end;
}

article {
    flex: 8 1;
}

nav {
    flex: 3 1;
    overflow-x: hidden;
}

main > * {
    padding: 0 1ch;
}

main > *,
header,
footer {
    background: #191919;
    box-shadow: 0 0 3px 3px #197919;
}

article {
    text-align: justify;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
}

h1::before {
    content: "§ ";
}

ul,
ul > li {
    width: 100%;
}

ul {
    padding: 0;
    margin-left: 2ch;

    list-style-type: none;
}

ul > li {
    margin-right: 2ch;
}

ul > li::before {
    content: "- ";
}

h1,
p,
ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    height: max-content;
    width: fit-content;
}

a {
    color: #14ee14;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #149914;
}

a::before {
    content: "[";
}

a::after {
    content: "]";
}

p::before {
    content: "> ";
}

strong {
    color: #ffffff;
}
