html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 18px "Consolas", monospace;
}

* {
    box-sizing: border-box;
}

body {
    color: #eef0f2;
    background: transparent;

    width: calc(min(720px, 100vw));
    min-height: 100vh;
    margin: 0 auto;

    padding: 12px;
    overflow-y: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 1em 1ch;
}

#bg-backside,
#bg-ascii {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#bg-backside {
    background: #000000;
    z-index: -1001;
}

#bg-ascii {
    background-image: url("https://q7x.ru/vga9x16.png");
    background-size: 288px 288px;
    background-repeat: repeat;
    image-rendering: pixelated;
    opacity: 0.4;
    z-index: -1000;
}

main {
    display: flex;
    flex-flow: row wrap;
    gap: 1em 1ch;
}

article,
section {
    flex-grow: 1;
}

section {
    align-content: center;
}

.full-width {
    width: 100%;
}

article,
section,
header,
footer {
    padding: 1ex 1ch;
}

header {
    text-align: center;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

main > *,
header,
footer {
    background: #191919;
    box-shadow: 0 0 3px 3px #197919;
}

p {
    margin: 0;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
}

h1::before {
    content: "§ ";
}

ul {
    padding: 0;
    list-style-type: none;
}

ul > li {
    margin: 0 2ch;
}

ul > li::before {
    content: "- ";
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    margin-top: 1em;
    margin-bottom: 0;
}

a {
    color: #14ee14;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #14a914;
}

a::before {
    content: "[";
}

a::after {
    content: "]";
}

p::before {
    content: "> ";
}

strong {
    color: #ffffff;
}

#chattable {
    width: 300px;
    height: 600px;

    position: fixed;
    left: 5px;
    bottom: 5px;

    border: none;
    box-shadow: 0 0 3px 3px #197919;
    background: #191919;
}

@media (max-width: 1200px) {
    #chattable {
        display: none;
    }
}
