{% extends "_base.html" %}

{% block what %}shitposts{% endblock %}
{% block description %}sharing my hand-picked shitposts with the world.{% endblock %}
{% block url %}/shitposts{% endblock %}

{% block head %}
{{ stylesheet("/shitposts/style.css") }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function staph() {
            shitpost.pause();
            shitpost.currentTime = 0.0;
        }

        shitpost.addEventListener("click", () => {
            shitpost.style.display = "none";
            staph();
        });

        for (const link of document.getElementsByClassName("shitpost")) {
            link.addEventListener("click", ev => {
                ev.preventDefault();

                staph();
                shitpost.src = link.attributes.href.nodeValue;
                shitpost.type = "video/mp4";
                shitpost.style.display = "block";
                shitpost.play();
            });
        }
    });
</script>
{% endblock %}

{% block content %}
<h1>assorted shitposts</h1>
<p>handpicked from the depths of discord & telegram...</p>
<p><img src="/shitposts/raw/utley.webp" aria-hidden="true" alt=""></p>
<ul>{% for file, title in posts %}
    <li>
        <a rel="noindex nofollow" href="/shitposts/raw/{{ file }}" class="shitpost">
            {{- file }} -- {{ title -}}
        </a>
    </li>
{% endfor %}</ul>
<p>more to come...</p>
{% endblock %}

{% block append %}
<video id="shitpost" loop="true" style="display: none;"></video>
{% endblock %}
