{% extends "_base.html" %}

{% block what %}shitposts{% endblock %}
{% block description %}sharing my hand-picked shitposts with the world.{% endblock %}
{% block url %}/shitposts{% endblock %}

{% block head %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const player = document.createElement("video");
        player.id = "shitpost";
        player.loop = true;
        player.style.display = "none";
        document.body.appendChild(player);

        function staph() {
            player.pause();
            player.currentTime = 0.0;
        }

        player.addEventListener("click", function () {
            player.style.display = "none";
            staph();
        });

        for (const post of document.getElementsByClassName("shitpost")) {
            post.addEventListener("click", function (ev) {
                ev.preventDefault();

                staph();
                player.src = post.attributes.href.nodeValue;
                player.type = "video/mp4";
                player.style.display = "block";
                player.play();
            });
        }
    });
</script>
{% endblock %}

{% block content %}
<h1>assorted shitposts</h1>
<p>handpicked from the depths of discord & telegram...</p>
<p><img src="/shitposts/raw/utley.webp"></p>
<ul>{% for file, title in posts %}
    <li>
        <a rel="noindex nofollow" href="/shitposts/raw/{{ file }}" class="shitpost">
            {{- file }} -- {{ title -}}
        </a>
    </li>
{% endfor %}</ul>
<p>more to come...</p>
{% endblock %}
