@use "prelude" as *;

#shitpost {
    cursor: pointer;

    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    padding: 5% 0;
    background: transparentize($hardblack, 0.1);
}

.shitpost {
    cursor: pointer;
}
