{% extends "_base.html" %}

{% block what %}projects{% endblock %}
{% block description %}the list of projects i created and have maintained.{% endblock %}
{% block url %}/projects{% endblock %}

{% block content %}
<h1>my projects</h1>
<p>click the links for more info!</p>

<h2><a target="_blank" href="https://vga9x16.ru">vga9x16</a></h2>
<p>the API behind this site's randomized background</p>

<h2><a rel="nofollow" target="_blank" href="https://github.com/nonk123/sanity">sanity</a></h2>
<p>the only sane static site generator in existence</p>

<h2><a target="_blank" href="https://schwung.us">schwung.us</a></h2>
<p>me and my homies form the schwungus collective</p>

<h2><a rel="nofollow" target="_blank" href="https://github.com/nonk123/nonklib">nonklib</a></h2>
<p>custom implementations of data structures I made for recreation</p>

<h2><a rel="nofollow" target="_blank" href="https://github.com/nonk123/uptime-thing">uptime-thing</a></h2>
<p>a toy uptime monitoring app I was challenged to code</p>

<h2><a target="_blank" href="https://подработка-павлово.рф">a local community website</a></h2>
<p>my first (and only) commercially backed project. but $50 is $50</p>
{% endblock %}
