@use "prelude" as *;

.project {
    $gap: 12px;
    $size: 128px;

    background: transparentize($grayish, 0.7);
    margin-block: $gap;

    padding: 12px;
    border-radius: $panel-border-radius;
    gap: 0 2ch;

    img.icon {
        width: $size;
        &.smooth {
            image-rendering: auto;
        }
    }
}
