{% extends "base.html.j2" %}

{% block title %}nonk's blog | {{ title }}{% endblock %}
{% block description %}&quot;{{ title }}&quot; from nonk's blog.{% endblock %}
{% block url %}/blog/{{ id }}{% endblock %}
{% block og_type %}article{% endblock %}

{% block content %}
<section>
    <div style="width: 100%; display: flex; flex-flow: row nowrap; justify-content: space-between;">
        <h1>{{ title }}</h1>
        <p style="text-align: right; font-size: 0.8em;">Posted: <strong>{{ date }}</strong></p>
    </div>
</section>

{% for paragraph in paragraphs %}
<section>
    <p>{{ paragraph }}</p>
</section>
{% endfor %}

<section>
    <p>Articles:</p>
    <ul class="links">
        {% for article in articles %}
        <li><a href="/blog/{{ article.id }}.html">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
