<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>{% block title required %}{% endblock %}</title>
    <meta name="description" content="{% block description required %}{% endblock %}" />
    <link rel="canonical" href="https://nonk.dev{% block url required %}{% endblock %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Language" content="en" />

    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/status-cafe.css" />

    <script async src="https://umami.schwung.us/script.js"
        data-website-id="4d6f1497-24de-4a6e-9991-9931303cfa2c"></script>

    <script defer src="https://status.cafe/current-status.js?name=nonk"></script>
</head>

<body>
    <div id="bg-backside"></div>
    <div id="bg-ascii"></div>

    <header>
        <a href="/" rel="author">About me</a>
        <a href="/blog" title="Under construction!">Blog</a>
    </header>

    <main>
        {% block content required %}{% endblock %}
        <section id="statuscafe">
            <div id="statuscafe-username"></div>
            <div id="statuscafe-content"></div>
        </section>
    </main>

    <footer>
        <span>last updated: <strong>{{ last_updated }}</strong></span>
        <a href="https://github.com/nonk123/nonk.dev">source code</a>
    </footer>
</body>

</html>
