{% extends "base.html.j2" %}

{% set DESCRIPTION="A tinkerer, a sourcerer, and a self-hosting enthusiast." %}

{% block title %}nonk's website{% endblock %}
{% block description %}{{ DESCRIPTION }}{% endblock %}
{% block url %}/{% endblock %}
{% block og_type %}profile{% endblock %}

{% block content %}
<section class="full-width">
    <h1>nonk is here to help!</h1>
    <p>{{ DESCRIPTION }}</p>
</section>
<section class="full-width">
    <p>Check out <a href="/projects">my projects</a> too!</p>
</section>
{% include "socials.html.j2" %}
<section>
    <p>My interests in no particular order:</p>
    <ul>
        <li>Low-level programming.</li>
        <li>Amusing interactive web experiences.</li>
        <li>Game development. Mostly with
            <a href="https://github.com/raysan5/raylib" title="Check it out!!!">raylib</a>.
        </li>
        <li>Free software. Free as in freedom.</li>
        <li>Everything GNU/Linux.</li>
    </ul>
</section>
<section>
    <p>Found me useful? Contact me!</p>
</section>
{% endblock %}
